<link rel="stylesheet" href="~/FakeHumans.styles.css"/>
<div id="header-wrapper">
    <div id="header-logotype">
        <a href="@Url.Action("Index", "Home")">FakeHumans</a>
    </div>
    <div id="header-menu">
        <div class="header-menu-item">
            <a href="@Url.Action("Russians", "Nations")">Russians</a>
        </div>
        <div class="header-menu-item">
            <a href="@Url.Action("Germans", "Nations")">Germans</a>
        </div>
        <div class="header-menu-item">
            <a href="@Url.Action("Americans", "Nations")">Americans</a>
         </div>
        <div class="header-menu-item">
            <a href="@Url.Action("Italians", "Nations")">Italians</a>
        </div>
    </div>
</div>